# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
ENV/
.venv/
.env/
.env

# Django specific
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
local_settings.py

# VSCode
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# System files
Thumbs.db
ehthumbs.db
Desktop.ini

# Pipenv
Pipfile.lock

# Migrations (optional, if you want to e

choosee-461610-f105153b5594.json